* { box-sizing: border-box; margin: 0; padding: 0;}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: sans-serif;
}

.container {
    min-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

